{% extends 'base.html.twig' %}

{% block title %}Subscription index{% endblock %}

{% block body %}
    <h1>Subscription index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
            <tr>

                <td>{{ subscription.getUserId.getUsername }}</td>
                <td>{{ subscription.getEventId.getTitle }}</td>

                <td>
                    <a href="{{ path('subscription_show', {'user_id': subscription.getUserId.getId}) }}">show</a>
                    <a href="{{ path('subscription_edit', {'user_id': subscription.getUserId.getId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="1">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('subscription_new') }}">Create new</a>
{% endblock %}