<h1>{{ event.title }}</h1>

<article class="content">
    <p>Images here ...</p>
    <p>{{ event.description }}</p>
    <p>From : {{ event.beginDate.format('d/m/Y') }} To : {{ event.endDate.format('d/m/Y') }}</p>
    <p>Price : {{ event.price }}</p>
</article>

<article class="comments">
    <h3>Comments</h3>
    <p>
    {% for comment in comments %}
        {% if comment.reported == 0 %}
            <h4>{{ comment.id_user }}</h4>
            <p>{{ comment.content }}</p>
        {% else %}
            <p>Comment has be removed by a moderator.</p>
        {% endif %}
    {% endfor %}
    </p>
</article>

<br>
