<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <meta name="keywords" content="panier,cesi,bde"/>
        <title>Panier</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

    <body>
        <header id="enTete">
            <!-- Display of the BDE logo -->
            <img id="img" src="https://pbs.twimg.com/profile_images/693744907127750656/W_byIUTt_400x400.png" alt="logo bde toulouse"/>

            <section id="navigation">
                <!-- Creation of the connection section -->
                <p id="btn">
                    <!--{% if user == null %}-->
                        <a href="pageInscription.html.twig" class="w3-btn">Inscription</a>
                        <a href="pageConnexion.html.twig" class="w3-btn">Connexion</a>
                    <!--{% elseif user == {{ connected }} %}-->
                        <a href="" class="w3-btn">Déconnexion</a>
                    <!--{% endif %}-->
                </p>

                <!-- Welcome message -->
                <p id="BVN">Bienvenue sur le site du BDE du Cesi</p>

                <!-- Creation of the navigation bar -->
                <nav id="navBar">
                    <ul id="ul">
                        <li class="listeNav"><a href="pageAccueil.html.twig" >Fil d'actualité</a></li>
                        <li class="listeNav"><a href="pageBoutique.html.twig" >Boutique</a></li>
                        <li class="listeNav"><a href="pageEvent.html.twig" >Evènement</a></li>
                        <li class="listeNav"><a href="pageBoiteIdée.html.twig" >Boite à idée</a></li>
                    </ul>
                </nav>
            </section>
        </header>

            <!-- Creation of the basket -->
            <section class="container">
                <section class="row">
                    <section class="col-xs-8">
                        <section class="panel panel-info">
                            <section class="panel-heading">
                                <section class="panel-title">
                                    <section class="row">
                                        <article class="col-xs-6">
                                            <h5><span class="glyphicon glyphicon-shopping-cart"></span> Mon panier</h5>
                                        </article>
                                        <!-- Creation of the return to pageBoutique button -->
                                        <article class="col-xs-6">
                                            <a href="pageBoutique.html.twig" class="btn btn-primary btn-sm btn-block">
                                                <span class="glyphicon glyphicon-share-alt"></span>Continuer mes achats
                                            </a>
                                        </article>
                                    </section>
                                </section>
                            </section>
                            <!-- Display all products -->
                            <section class="panel-body">
                                <!--{% for Product in 0..{{ Produit.NombreTotal }} %}-->
                                <section class="row">
                                    <article class="col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70" alt="imgProd">
                                    </article>
                                    <article class="col-xs-6">
                                        <h4 class="product-name"><strong>{{ Produit.Nom }}</strong></h4><h4 class="product-description"><small>{{ Produit.Description }}</small></h4>
                                    </article>
                                    <section class="col-xs-8">
                                        <article class="col-xs-6 text-right">
                                            <h6 class="product-price"><strong>{{ Produit.Prix }} <span class="text-muted">x</span></strong></h6>
                                        </article>
                                        <article class="col-xs-4">
                                            <input type="text" class="form-control input-sm" value="1">
                                        </article>
                                        <article class="col-xs-2">
                                            <button type="button" class="btn btn-link btn-xs">
                                                <span class="glyphicon glyphicon-trash"> </span>
                                            </button>
                                        </article>
                                    </section>
                                </section>
                                <hr>
                                <!--{% endfor %}-->
                                <hr>
                            </section>
                            <section class="panel-footer">
                                <section class="row text-center">
                                    <article class="col-xs-6">
                                        <!-- Display the amount of the order -->
                                        <h4 class="text-right">Total <strong>{{ Panier.PrixTotal }}</strong></h4>
                                    </article>
                                    <article class="col-xs-6">
                                        <button type="button" class="btn btn-success btn-block">
                                            Commander
                                        </button>
                                    </article>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>

            </section>

        <footer>
            <!-- Creation of the contact us section -->
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
            <section class="footer-container">
                <article class="text-center center-block">
                    Nous contacter :<br/>
                    <a href="https://www.facebook.com/bdecesitoulouse/?ref=br_rs"><i class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/bdecesi_tls"><i class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href="mailto:bde-toulouse@viacesi.fr"><i class="fa fa-envelope-square fa-3x social"></i></a>
                </article>
            </section>
        </footer>
    </body>
</html>