<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <meta name="keywords" content="évènement,cesi,bde,event"/>
        <title>Evènement</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

    <body>
        <header id="enTete">
            <!-- Display of the BDE logo -->
            <img id="img" src="https://pbs.twimg.com/profile_images/693744907127750656/W_byIUTt_400x400.png" alt="logo bde toulouse"/>

            <section id="navigation">
                <!-- Creation of the connection section -->
                <p id="btn">
                    <!--{% if user == null %}-->
                    <a href="pageInscription.html.twig" class="w3-btn">Inscription</a>
                    <a href="pageConnexion.html.twig" class="w3-btn">Connexion</a>
                    <!--{% elseif user == {{ connected }} %}-->
                    <a href="" class="w3-btn">Déconnexion</a>
                    <!--{% endif %}-->
                </p>

                <!-- Welcome message -->
                <p id="BVN">Bienvenue sur le site du BDE du Cesi</p>

                <!-- Creation of the navigation bar -->
                <nav id="navBar">
                    <ul id="ul">
                        <li class="listeNav"><a href="pageAccueil.html.twig" >Fil d'actualité</a></li>
                        <li class="listeNav"><a href="pageBoutique.html.twig" >Boutique</a></li>
                        <li class="listeNav"><a href="pageEvent.html.twig" >Evènement</a></li>
                        <li class="listeNav"><a href="pageBoiteIdée.html.twig" >Boite à idée</a></li>
                    </ul>
                </nav>
            </section>
        </header>

        <section id="center">
            <section id="container">
                <!--{% if modo == 1 and admin == 0 %}-->
                <article id="barreAddEvent">
                    <!-- Button link to pageCréationEvent -->
                    <h3 class="titre">Ajouter un évènement:</h3>
                    <a href="pageCréationEvent.html.twig" class="w3-btn" id="add">+</a>
                </article>
                <!--{% endif %}-->
                <h2 class="titre">Evènement passés</h2>

                <section id="Passe">
                    <!-- Display of all past event -->
                    <!--{% for Event in 0..{{ Event.Passe }} %}-->
                        <article class="item ng-scope">
                            <a href="pageEventUnique.html.twig">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLHDc_UjxkBOlQzFnF4CpcnsJjIvKhSZ3hB-Q7_0aOx1Iow2hC" alt="imageEvent" class="imageEvent">
                                <p class="Nom">{{ Event.Nom }}</p>
                            </a>
                        </article>
                        <article class="item ng-scope">
                            <a href="pageEventUnique.html.twig">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLHDc_UjxkBOlQzFnF4CpcnsJjIvKhSZ3hB-Q7_0aOx1Iow2hC" alt="imageEvent" class="imageEvent">
                                <p class="Nom">{{ Event.Nom }}</p>
                            </a>
                        </article>
                        <article class="item ng-scope">
                            <a href="pageEventUnique.html.twig">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLHDc_UjxkBOlQzFnF4CpcnsJjIvKhSZ3hB-Q7_0aOx1Iow2hC" alt="imageEvent" class="imageEvent">
                                <p class="Nom">{{ Event.Nom }}</p>
                            </a>
                        </article>
                        <article class="item ng-scope">
                            <a href="pageEventUnique.html.twig">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLHDc_UjxkBOlQzFnF4CpcnsJjIvKhSZ3hB-Q7_0aOx1Iow2hC" alt="imageEvent" class="imageEvent">
                                <p class="Nom">{{ Event.Nom }}</p>
                            </a>
                        </article>
                    <!--{% endfor %}-->
                </section>

                <article id="barre2">
                    <h2 class="titre">A venir</h2>
                </article>

                <section id="Futur">
                    <!-- Display of all future event -->
                    <!--{% for Event in 0..{{ Event.Futur }}%}-->
                    <article class="item ng-scope">
                        <a href="pageEventUnique.html.twig">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLHDc_UjxkBOlQzFnF4CpcnsJjIvKhSZ3hB-Q7_0aOx1Iow2hC" alt="imageEvent" class="imageEvent">
                            <p class="Nom">{{ Event.Nom }}</p>
                        </a>
                    </article>
                    <article class="item ng-scope">
                        <a href="pageEventUnique.html.twig">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLHDc_UjxkBOlQzFnF4CpcnsJjIvKhSZ3hB-Q7_0aOx1Iow2hC" alt="imageEvent" class="imageEvent">
                            <p class="Nom">{{ Event.Nom }}</p>
                        </a>
                    </article>
                    <article class="item ng-scope">
                        <a href="pageEventUnique.html.twig">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLHDc_UjxkBOlQzFnF4CpcnsJjIvKhSZ3hB-Q7_0aOx1Iow2hC" alt="imageEvent" class="imageEvent">
                            <p class="Nom">{{ Event.Nom }}</p>
                        </a>
                    </article>
                    <article class="item ng-scope">
                        <a href="pageEventUnique.html.twig">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLHDc_UjxkBOlQzFnF4CpcnsJjIvKhSZ3hB-Q7_0aOx1Iow2hC" alt="imageEvent" class="imageEvent">
                            <p class="Nom">{{ Event.Nom }}</p>
                        </a>
                    </article>
                    <!--{% endfor %}-->
                </section>
            </section>
        </section>

        <footer>
            <!-- Creation of the contact us section -->
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
            <section class="container">
                <article class="text-center center-block">
                    Nous contacter :<br/>
                    <a href="https://www.facebook.com/bdecesitoulouse/?ref=br_rs"><i class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/bdecesi_tls"><i class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href="mailto:bde-toulouse@viacesi.fr"><i class="fa fa-envelope-square fa-3x social"></i></a>
                </article>
            </section>
        </footer>

    </body>
</html>