<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    <title>Boutique</title>
</head>

<body>
{{ include('header.html.twig') }}

<section id="baseBoutique">
    <section id="container">
        <section id="barre1">
            <p id="Titre1">Article les plus commandés:</p>
            <a href="/basket"><button id="btnPanier">Panier</button></a>
        </section>

        <section id="prodPlusCommandé">
            {% for best in bestSellers %}
                <section class="prodCom">
                    <p>{{ best.getTitle }}</p>
                    <p>{{ best.getDescription }}</p>
                    <p>{{ best.getPrice }}</p>
                </section>
            {% endfor %}
        </section>


        <section id="barre2">
            <p id="Titre2">Autres articles:</p>
            <article id="recherche">
                <form action="/search" id="searchthis" method="get">
                    <input id="search" name="q" type="text" placeholder="Rechercher"/>
                    <input id="search-btn" type="submit" value="Rechercher"/>
                </form>
            </article>
            <section id="Filtre">
                <button id="dropbtn">Filtre</button>
                <article id="dropdown">
                    <a href="#prixCroissant">prix croissant</a>
                    <a href="#prixDécroissant">prix décroissant</a>
                    <a href="#OrdreAlpha">Ordre alphabétique</a>
                    <a href="#Catégorie">Catégorie</a>
                </article>
            </section>
        </section>

        <section id="Prod">
            {% for product in  products %}
                <section class="item ng-scope">
                    <p>{{ product.getTitle }}</p>
                    <p>{{ product.getDescription }}</p>
                    <p>{{ product.getPrice }}</p>
                    <form method="post" action="{{ path('basket_new', {'product': product.id}) }}" onsubmit="return confirm('Are you sure you want to add this item?');">
                        <input type="hidden" name="_method" value="GET">
                        <input type="hidden" name="_token" value="{{ csrf_token('new' ~ product.id) }}">
                        <button class="btn">Ajouter au pannier</button>
                    </form>
                    {% if modo == 1 and admin ==0 %}
                        <button class="delete">Supprimer</button>
                    {% endif %}
                </section>
            {% endfor %}
            {% if modo == 1 and admin ==0 %}
                <article id="ajoutProd">
                    <a href="pageNouveauProduit.html.twig"><button>Ajouter un produit</button></a>
                </article>
            {% endif %}
        </section>
    </section>

    <section id="aside">
        <article id="boiteIdée">
            <a>Boite à Idées</a>

        </article>

        <article id="EventMois">
            <a>Evènement du mois</a>

        </article>
    </section>

</section>

<footer>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <section class="container">
        <article class="text-center center-block">
            Nous contacter :
            <a href="https://www.facebook.com/bdecesitoulouse/?ref=br_rs"><i class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/bdecesi_tls"><i class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="mailto:bde-toulouse@viacesi.fr"><i class="fa fa-envelope-square fa-3x social"></i></a>
        </article>
    </section>
</footer>
</body>

</html>