<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="boutique,cesi,polo,mug,bde"/>
        <link rel="stylesheet" href="style.css">
        <title>Boutique</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

    <body>
        <header id="enTete">
            <!-- Display of the BDE logo -->
            <img id="img" src="https://pbs.twimg.com/profile_images/693744907127750656/W_byIUTt_400x400.png" alt="logo bde toulouse"/>

            <section id="navigation">
                <!-- Creation of the connection section -->
                <p id="btn">
                    <!--{% if user == null %}-->
                    <a href="pageInscription.html.twig" class="w3-btn">Inscription</a>
                    <a href="pageConnexion.html.twig" class="w3-btn">Connexion</a>
                    <!--{% elseif user == {{ connected }} %}-->
                    <a href="" class="w3-btn">Déconnexion</a>
                    <!--{% endif %}-->
                </p>
                <!-- Welcome message -->
                <p id="BVN">Bienvenue sur le site du BDE du Cesi</p>

                <!-- Creation of the navigation bar -->
                <nav id="navBar">
                    <ul id="ul">
                        <li class="listeNav"><a href="pageAccueil.html.twig" >Fil d'actualité</a></li>
                        <li class="listeNav"><a href="pageBoutique.html.twig" >Boutique</a></li>
                        <li class="listeNav"><a href="pageEvent.html.twig" >Evènement</a></li>
                        <li class="listeNav"><a href="pageBoiteIdée.html.twig" >Boite à idée</a></li>
                    </ul>
                </nav>
            </section>
        </header>

        <section id="baseBoutique">
            <section id="container">
                <section id="barre1">
                    <p id="Titre1">Article les plus commandés:</p>
                    <!-- Button link to pagePanier -->
                    <a href="pagePanier.html.twig" class="w3-btn">Panier</a>
                </section>

                <section id="prodPlusCommandé">
                    <!-- Display of the most ordered product-->
                    <!--{% for prod in 0..3 %}-->
                    <section class="item ng-scope">
                        <p>{{ Prod.img }}</p>
                        <p>{{ Prod.nom }}</p>
                        <p>{{ Prod.prix }}</p>
                    </section>
                    <section class="item ng-scope">
                        <p>{{ Prod.img }}</p>
                        <p>{{ Prod.nom }}</p>
                        <p>{{ Prod.prix }}</p>
                    </section>
                    <section class="item ng-scope">
                        <p>{{ Prod.img }}</p>
                        <p>{{ Prod.nom }}</p>
                        <p>{{ Prod.prix }}</p>
                    </section>
                    <section class="item ng-scope">
                        <p>{{ Prod.img }}</p>
                        <p>{{ Prod.nom }}</p>
                        <p>{{ Prod.prix }}</p>
                    </section>
                    <!--{% enfor %}-->
                </section>


                <section id="barre2">
                    <p id="Titre2">Autres articles:</p>
                    <!-- Creation of the search bar -->
                    <article id="recherche">
                        <form action="/search" id="searchthis" method="get">
                            <input id="search" name="q" type="text" placeholder="Rechercher"/>
                            <input id="search-btn" type="submit" value="Rechercher"/>
                        </form>
                    </article>
                    <!-- Creation of the product dropdown filter -->
                    <section id="Filtre">
                        <button id="dropbtn">Filtre</button>
                        <section id="dropdown">
                            <a href="#prixCroissant">prix croissant</a>
                            <a href="#prixDécroissant">prix décroissant</a>
                            <a href="#Catégorie">Catégorie</a>
                        </section>
                    </section>
                </section>

                <section id="Prod">
                    <!-- Display of all the products -->
                    <!--{% for prod in 0..{{ products }} %}-->
                        <section class="item ng-scope">
                            <p>{{ Prod.img }}</p>
                            <p>{{ Prod.nom }}</p>
                            <p>{{ Prod.prix}}</p>
                            <button>Ajouter au panier</button>
                            <!--{% if modo == 1 and admin ==0 %}-->
                            <button class="delete">Supprimer</button>
                            <!--{% endif %}-->
                        </section>
                        <section class="item ng-scope">
                            <p>{{ Prod.img }}</p>
                            <p>{{ Prod.nom }}</p>
                            <p>{{ Prod.prix}}</p>
                            <button>Ajouter au panier</button>
                            <!--{% if modo == 1 and admin ==0 %}-->
                            <button class="delete">Supprimer</button>
                            <!--{% endif %}-->
                        </section>
                        <section class="item ng-scope">
                            <p>{{ Prod.img }}</p>
                            <p>{{ Prod.nom }}</p>
                            <p>{{ Prod.prix}}</p>
                            <button>Ajouter au panier</button>
                            <!--{% if modo == 1 and admin ==0 %}-->
                            <button class="delete">Supprimer</button>
                            <!--{% endif %}-->
                        </section>
                        <section class="item ng-scope">
                            <p>{{ Prod.img }}</p>
                            <p>{{ Prod.nom }}</p>
                            <p>{{ Prod.prix}}</p>
                            <button>Ajouter au panier</button>
                            <!--{% if modo == 1 and admin ==0 %}-->
                            <button class="delete">Supprimer</button>
                            <!--{% endif %}-->
                        </section>
                        <section class="item ng-scope">
                            <p>{{ Prod.img }}</p>
                            <p>{{ Prod.nom }}</p>
                            <p>{{ Prod.prix}}</p>
                            <button>Ajouter au panier</button>
                            <!--{% if modo == 1 and admin ==0 %}-->
                            <button class="delete">Supprimer</button>
                            <!--{% endif %}-->
                        </section>
                    <!--{% endfor %}-->
                    <!--{% if modo == 1 and admin ==0 %}-->
                    <article id="ajoutProd">
                        <!-- Button link to pageNouveauProduit -->
                        <a href="pageNouveauProduit.html.twig" class="w3-btn">Ajouter un produit</a>
                    </article>
                    <!--{% endif %}-->
                </section>
            </section>
        </section>

        <footer>
            <!-- Creation of the contact us section -->
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
            <section class="container">
                <article class="text-center center-block">
                    Nous contacter :<br/>
                    <a href="https://www.facebook.com/bdecesitoulouse/?ref=br_rs"><i class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/bdecesi_tls"><i class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href="mailto:bde-toulouse@viacesi.fr"><i class="fa fa-envelope-square fa-3x social"></i></a>
                </article>
            </section>
        </footer>
    </body>

</html>