<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <title>Boite à idée</title>
    </head>

    <body>
        <header id="enTete">
            <img id="img" src="https://pbs.twimg.com/profile_images/693744907127750656/W_byIUTt_400x400.png" alt="logo bde"/>

            <section id="navigation">
                <p id="btn">
                    <a href="pageInscription.html.twig"><button id="inscriptionHead">Inscription</button></a>
                    <a href="pageConnexion.html.twig"><button id="connexionHead">Connexion</button></a>
                </p>

                <p id="BVN">Bienvenue sur le site du BDE du Cesi Toulouse</p>

                <nav id="navBar">
                    <ul id="ul">
                        <li class="listeNav"><a href="pageAccueil.html.twig" >Fil d'actualité</a></li>
                        <li class="listeNav"><a href="pageBoutique.html.twig" >Boutique</a></li>
                        <li class="listeNav"><a href="pageEvent.html.twig" >Evènement</a></li>
                        <li class="listeNav"><a href="pageBoiteIdée.html.twig" >Boite à idée</a></li>
                    </ul>
                </nav>
            </section>
        </header>

            <section id="central">
                <section id="centre">

                    <article id="Titre">
                        Liste d'idées d'évènements :
                    </article>

                    <section id="choix">

                        <article id="listeIdee">
                            <ul id="liste">
                                {% for Idea in 0..{{ Idea.Nombre }} %}
                                <li class="idée">{{ Idea.Title }}</li>
                                {% enfor %}
                            </ul>
                        </article>

                        <article id="upvote">
                            {% for Idea in 0..{{ Idea.Nombre }} %}
                            <button>Upvote</button>
                            {% enfor %}
                        </article>
                        {% if modo == 1 %}
                            <article id="creeEvent">
                                {% for Idea in 0..{{ Idea.Nombre }} %}
                                <a href="pageCréationEvent.html.twig"><button>Créer évènement</button></a>
                                {% enfor %}
                            </article>
                        {% endif %}
                    </section>

                    <section id="choix">
                        Soumettre une idée:
                        <input id="soumettreIdée">
                        <button>Soumettre</button>
                    </section>

                </section>

                <section id="aside">
                    <article id="boiteIdée">
                        <a>Boite à Idées</a>
                        {{ Idee.PlusVoter }}
                    </article>

                    <article id="EventMois">
                        <a>Evènement du mois</a>
                        {{ Event.Mois }}
                    </article>
                </section>
            </section>

        <footer>
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
            <section class="container">
                <article class="text-center center-block">
                    Nous contacter :
                    <a href="https://www.facebook.com/bdecesitoulouse/?ref=br_rs"><i class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/bdecesi_tls"><i class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href="mailto:bde-toulouse@viacesi.fr"><i class="fa fa-envelope-square fa-3x social"></i></a>
                </article>
            </section>
        </footer>
    </body>
</html>