<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <title>Boutique</title>
    </head>

    <body>
        <header id="enTete">
            <img id="img" src="https://pbs.twimg.com/profile_images/693744907127750656/W_byIUTt_400x400.png" alt="logo bde"/>

            <section id="navigation">
                <p id="btn">
                    <a href="pageInscription.html.twig"><button id="inscriptionHead">Inscription</button></a>
                    <a href="pageConnexion.html.twig"><button id="connexionHead">Connexion</button></a>
                </p>

                <p id="BVN">Bienvenue sur le site du BDE du Cesi Toulouse</p>

                <nav id="navBar">
                    <ul id="ul">
                        <li class="listeNav"><a href="pageAccueil.html.twig" >Fil d'actualité</a></li>
                        <li class="listeNav"><a href="pageBoutique.html.twig" >Boutique</a></li>
                        <li class="listeNav"><a href="pageEvent.html.twig" >Evènement</a></li>
                        <li class="listeNav"><a href="pageBoiteIdée.html.twig" >Boite à idée</a></li>
                    </ul>
                </nav>
            </section>
        </header>

        <section id="baseBoutique">
            <section id="container">
                <section id="barre1">
                    <p id="Titre1">Article les plus commandés:</p>
                    <a href="pagePanier.html.twig"><button id="btnPanier">Panier</button></a>
                </section>

                <section id="prodPlusCommandé">
                    {% for prod in 0..3 %}
                    <section class="prodCom">
                        <p>{{ Prod.img }}</p>
                        <p>{{ Prod.nom }}</p>
                        <p>{{ Prod.prix }}</p>
                    </section>
                    {% enfor %}
                </section>


                <section id="barre2">
                    <p id="Titre2">Autres articles:</p>
                    <article id="recherche">
                        <form action="/search" id="searchthis" method="get">
                            <input id="search" name="q" type="text" placeholder="Rechercher"/>
                            <input id="search-btn" type="submit" value="Rechercher"/>
                        </form>
                    </article>
                    <section id="Filtre">
                        <button id="dropbtn">Filtre</button>
                        <article id="dropdown">
                            <a href="#prixCroissant">prix croissant</a>
                            <a href="#prixDécroissant">prix décroissant</a>
                            <a href="#OrdreAlpha">Ordre alphabétique</a>
                            <a href="#Catégorie">Catégorie</a>
                        </article>
                    </section>
                </section>

                <section id="Prod">
                    {% for prod in 0..{{ products }} %}
                        <article class="Prod">
                            <p>{{ Prod.img }}</p>
                            <p>{{ Prod.nom }}</p>
                            <p>{{ Prod.prix}}</p>
                            <button>Ajouter au panier</button>
                            {% if modo == 1 and admin ==0 %}
                                <button class="delete">Supprimer</button>
                            {% endif %}
                        </article>
                    {% endfor %}
                    {% if modo == 1 and admin ==0 %}
                    <article id="ajoutProd">
                        <a href="pageNouveauProduit.html.twig"><button>Ajouter un produit</button></a>
                    </article>
                    {% endif %}
                </section>
            </section>

            <section id="aside">
                <article id="boiteIdée">
                    <a>Boite à Idées</a>
                    {{ Idee.PlusVoter }}
                </article>

                <article id="EventMois">
                    <a>Evènement du mois</a>
                    {{ Event.Mois }}
                </article>
            </section>

        </section>

        <footer>
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
            <section class="container">
                <article class="text-center center-block">
                    Nous contacter :
                    <a href="https://www.facebook.com/bdecesitoulouse/?ref=br_rs"><i class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/bdecesi_tls"><i class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href="mailto:bde-toulouse@viacesi.fr"><i class="fa fa-envelope-square fa-3x social"></i></a>
                </article>
            </section>
        </footer>
    </body>

</html>